/* Thêm vào file CSS hoặc SCSS của bạn */
.input-password-group {
  position: relative;
}

.input-password-group input {
  padding-right: 2.5rem; /* chừa chỗ cho icon */
}

.input-password-eye {
  position: absolute;
  right: 20px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 1.2rem;
  z-index: 2;
}